body {
    background-image: url(..//images/Zoltar.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    float: left;
  
}

#game {
background: yellow;
    width: 30%;
    float: left;
   
}
    
h2 {
    color: red;
    text-align: center;
    
}


p {
    text-align: center;
}

body > audio:nth-child(3) {
    position: hide;
    
}

