body {
    background-image: url(..//images/Zoltar.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;

  
}

div.jumbotron {
    background-color: red;
    height: 

}

#game {
background: yellow;
    width: 30%;
    float: left;
   
}
    
h2 {
    color: red;
    text-align: center;
    d
}


p {
    text-align: center;
}

body div.container-fluid {
   display: none;
    
}

